extends layout

block content
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    span.navbar-brand.mb-0.h1 epi.today
    .collapse.navbar-collapse
      .navbar-nav.mr-auto
        a.nav-item.nav-link(href="/")
          span Home
  .container
    h1 epi.today
    h2 What's on the calendar today at Epitech?
