extends ../layout

block content
  include ../navbar-public
  #main.container
    h1 epi.today

    a.custom-shadow.btn.btn-outline-primary.btn-lg(role="button" href="/auth/office365" aria-pressed="true") Sign in with #[b Office 365]
