extends ../layout

block content
  include ../navbar
  #main.container
    h1 epi.today

    h2 Date selector
    p Plan your day ahead by seeing events on a specific date

    .d-flex
      .d-inline-flex#selectorContainer
          input(type="hidden")#selector
    a.custom-shadow.btn.btn-outline-primary.btn-lg.disabled#selectorLink(role="button" aria-pressed="true") See events

block javascript
  link(rel="stylesheet" href="https://unpkg.com/@chenfengyuan/datepicker@1.0.9/dist/datepicker.min.css")
  script(src="https://unpkg.com/@chenfengyuan/datepicker@1.0.9/dist/datepicker.min.js")
  script(src="/selector.js")
